@if (ProjectEntity == null)
{
    <div><em>Loading...</em></div>
}
else
{
    <EditForm Model="@ProjectEntity" OnValidSubmit="@SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="simple-form">
            <div class="form-group">
                <label for="organization-list">Organization</label>
                <select id="organization-list" class="form-control" @bind="@ProjectEntity.OrganizationId">
                    @if (ProjectEntity.OrganizationId == 0)
                    {
                        <option value="0" selected>Pick an organization!</option>
                    }
                    @foreach (var org in Organizations)
                    {
                        <option value=@org.Id selected="@IsSelected(org.Id)">@org.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input @bind="ProjectEntity.Name" type="text" class="form-control" id="name" placeholder="Name" />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <InputTextArea @bind-Value="ProjectEntity.Description" class="form-control" id="description" placeholder="Description" />
            </div>

            <div class="form-check">
                <input type="checkbox" @bind="@ProjectEntity.IsDisabled" class="form-check-input" id="isDisabled" />
                <label class="form-check-label" for="isDisabled">Disabled</label>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
            <button @onclick="@Cancel" type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </EditForm>

}
